* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#container{
   margin: 220px auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;   
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
}

.display {
    background-color: rgba(128, 128, 128, 0.719);
    width: 167px;
    height: 40px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px;
    margin-bottom: 2px;
}

.operator, .btn {
    height: 40px;
    width: 40px;
}